<h1>Listing funds</h1>

<table>
  <tbody>
    <% @funds.each do |fund| %>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= fund.name %></h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" alt="<%= fund.name %> logo" src="<%= fund.logo.url(:thumb) %>">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Investment between: <%= fund.minTicket %>€ to <%= fund.maxTicket %>€ </h4>
              <p><%= fund.overview %></p>
            </div>
          </div>
          <div>
            <p><%= link_to 'Show', fund %>|<%= link_to 'Edit', edit_fund_path(fund) %>|<%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %>|<%= link_to 'View reviews', fund_reviews_path(fund) %> (<%= fund.reviews.count %>)</p>
          </div>
        </div>
      </div>
  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fund', new_fund_path %>
