<h1>Listing funds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profile</th>
      <th>Overview</th>
      <th>Url</th>
      <th>Address</th>
      <th>Stage</th>
      <th>Minticket</th>
      <th>Maxticket</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.name %></td>
        <td><%= fund.profile %></td>
        <td><%= fund.overview %></td>
        <td><%= fund.url %></td>
        <td><%= fund.address %></td>
        <td><%= fund.stage %></td>
        <td><%= fund.minTicket %></td>
        <td><%= fund.maxTicket %></td>
        <td><%= link_to 'Show', fund %></td>
        <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
        <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fund', new_fund_path %>
